<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网页模板</title>
</head>
<style>
    div{
        background: blueviolet;
    }
</style>
<body>
<div>
   <div><%= title %>></div>
    <div><%= address %>></div>
    <a href="/img/a.png">访问图片</a>
</div>
</body>
</html>